.nav-item{
    margin:0 10px;
}
.btn-shadow
{
    padding: 8px 30px !important;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);

}

.navbar{
    background: #992B41 !important;
}

.primary-color{
    color:  #992B41;
}

.nav-link{
    color: white  !important;
}



.intro {
    color: #575166;
    font-size: 21px;
    font-weight: 300px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#carousel{
    margin-top: 75px;
}


.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.footer-bottom{
    background:#992B41 !important;
    color: white;
}
.footer-bottom a{
    color: white;
}
.footer-copyright{
    background: #65001b;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
        
}
main {
    
    flex: 1 1 auto;
    /*grow vertically*/
    width: 100%;
    text-align: center;
  }
.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
/* @media(max-width:992px){
    .btn-shadow{
        width: 40%;
    }
    
} */
/* Forms*/

  .alert{
    text-align: center;
    padding: 10px;
    color: white;
    background: #992B41;
    margin-bottom: 10px;
    display: none;
  }
  
 .highlight_text{
     color: red;
 }

#accompany1, #accompany2{
    display: none;
}



.guest{
    background-image: linear-gradient(to right, #FF0099, #493240);
}

.guidelines .smooth a{
    color: #992B41;
}
.guidelines{
    display: inline;
}
.smooth {
    display: flex;
    justify-content: flex-end;
    list-style-type:none;
}
.smooth li{
    margin-right: 20px ;
}


.team_body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}